[2016-03-30 14:06] yang-wei opened #1 "Some works need to be done"
- [x] update dependencies (hope to remove both react and d3 from dependencies)
- [x] demo page (is now difficult to maintain)
- [x] documentation (keep using wiki or show more in demo page)
- [x] eslint
- [x] update the original repository about `rd3`
- [x] babel 6 for smaller bytes

[2016-03-30 14:13] yang-wei opened #2 "Customizable legend"
https://github.com/esbullington/react-d3/issues/316

[2016-03-30 19:02] davidascher opened #3 "Callback for interactivity with data points?"
I'd like to be able to specify a callback which gets called when a user clicks on a highlighted data point (e.g. in ScatterChart).  Is that something you think is in scope for this library, or do you have an alternative approach to recommend?

[2016-03-30 20:03] davidascher opened #4 "gulp release failing in esprima?"
I'm getting an odd build failure:

[code]

FYI:

[code]

[2016-03-30 20:12] davidascher commented on #4
that was my error. never mind, apologies for the noise.

[2016-03-30 20:12] #4 closed, assigned to nobody

[2016-04-09 12:39] #3 closed, assigned to nobody

[2016-04-09 14:56] jonase commented on #1
I looked at possibly helping out with at least the `eslint` part. According to [CONTRIBUTING.md](https://github.com/yang-wei/rd3/blob/master/CONTRIBUTING.md) you'd like to follow the google style guide. With the [eslint-config-google](https://github.com/google/eslint-config-google) rules there are quite a lot of errors/warnings. Many of them are [key-spacing](http://eslint.org/docs/rules/key-spaci

[2016-04-10 08:11] yang-wei opened #10 "eslint"
@jonase

The `CONTRIBUTING.md` is kind of outdated and I prefer [airbnb eslint config](https://github.com/airbnb/javascript/tree/master/packages/eslint-config-airbnb).

Currently we are using gulp for build tools but if using npm scripts can achieve the same thing then we can avoid gulp.

I do not hold particular style regarding to linting. Feel free to discuss anything here =)

[2016-04-10 08:11] yang-wei commented on #1
I opened a new issue at #10. Let's talk over there =)
 @jonase

[2016-04-10 08:44] jonase commented on #10
@yang-wei I prefer airbnb config as well. I'll configure running eslint as an npm script and open a pr.

[2016-04-10 23:52] jscheid opened #12 "Tooltips should use position: absolute"
There are two issues with using `position: fixed` for tooltips.
1. It means the tooltip isn't affected by scrolling while the chart is, so the two will get out of sync when the user scrolls the viewport after the tooltip was placed.
2. [`position: fixed` is not necessarily relative to the viewport](https://bugs.chromium.org/p/chromium/issues/detail?id=20574).

One solution to both issues would be

[2016-04-13 03:45] yang-wei commented on #12
Do you mind to send us a pr ? Would be happy to guide.

[2016-04-16 04:00] janaipakos commented on #1
What should the documentation cover?

[2016-04-16 04:33] yang-wei commented on #1
@janaipakos

A demo page like the [current one](https://reactiva.github.io/react-d3-website/) with all the API(props we can pass in from top) covered. By cover I mean list them out and for some difficult API such as `colorAccessor`, example would be neccessary.

If every API can be update/change through form/input then it would be best !

Let me know if you are interested to take over =)

[2016-04-21 10:55] andrerpena opened #18 "Anyway I can overlay lines on a candlestick?"
First off, thanks for the good work.
Candlesticks are often displayed with overlaying straight lines, to express "stop loss" and "confirmation level".
Can I do that with RD3?
Thank you!

[2016-04-22 00:20] yang-wei commented on #18
@andrerpena I would love to help you can you show me a picture or example ?

[2016-04-22 00:44] andrerpena commented on #18
Absolutely. Thanks for your support.

When people look at candlesticks, they're looking for patterns. This is one of the most popular "optimistic" patterns, the Bullish Harami: http://www.candlesticker.com/Pattern.aspx?lang=en&Pattern=2102

Every pattern has 2 "levels". One to confirm that the pattern was right, and another to confirm that it was wrong. These levels are almost always represented a

[2016-04-23 04:16] #10 closed, assigned to nobody

[2016-04-23 04:38] yang-wei commented on #18
Do you mean something like the example showing in http://techanjs.org/ ?

From what I understand, you need the 2 horizontal lines which can be dragged and showing the price label simultaneously ?

We currently do not support this kind of API but I can make it if it is useful =)

[2016-04-24 13:33] #12 closed, assigned to nobody

[2016-04-25 13:20] andrerpena commented on #18
Well.. Draggable lines would be quite useful but I wouldn't do this at first because of complexity. Every home broker allows you to dynamically overlay lines, including lines at a certain angle. They are normally draggable, and the angle can be modified by the user. Besides, the user lines "snap" to prices. That's awesome but complex.

For a **read-only candlestick**, I'd say that the capacity of

[2016-04-25 23:48] yinghaochan opened #20 "this.getDOMNODE() deprecated"
https://facebook.github.io/react/docs/top-level-api.html#reactdom.finddomnode

;)

[2016-04-26 00:46] yang-wei commented on #20
Thanks will give it a fix tonight =)

[2016-04-26 03:56] yang-wei commented on #18
Forgive my knowledge about candlestick chart, will study it and let you know my opinion =)

[2016-04-26 15:02] #20 closed, assigned to nobody

[2016-04-30 17:55] JamieDixon opened #23 "Uncaught TypeError: Cannot read property 'document' of undefined"
I'm currently receiving this error in D3 so this might not be a rd3 specific issue but I want to make you aware of the problem incase there's a solution that I've missed.

The problem seems to be that D3 uses `var d3_document = this.document;`.

[According to this issue](https://github.com/mbostock/d3/issues/2502) D3 doesn't support being used anywhere with `use strict`.

Since this is the case, i

[2016-05-01 01:56] yang-wei commented on #23
Yes, I am aware of this issue but even we do not state `use strict` explicitly, es6 module code is always in strict mode.

http://www.ecma-international.org/ecma-262/6.0/#sec-strict-mode-code

Can you show me a fiddle of how the error is produced ?

[2016-05-01 11:32] JamieDixon commented on #23
I was under the impression that `use strict` and es6 modules "always in strict mode" would yield the same behaviour. Perhaps this isn't what is causing the issue with accessing `this.document`?

I was having problems getting any React charting wrapper to work (rd3, chart.js) so in the end I'm just using the core lib in React and wrapping it in my own component. I'll see if I can put together a fid

[2016-05-01 13:48] yang-wei commented on #23
Cool ! Thanks for reporting.

[2016-05-01 13:48] #23 closed, assigned to nobody

[2016-05-08 06:23] yang-wei commented on #1
documentation is out !

https://yang-wei.github.io/rd3/

[2016-05-08 06:23] #1 closed, assigned to nobody

[2016-05-10 08:03] jshthornton opened #26 "Github link in documentation is incorrect."
Documentation links to https://github.com/yang-wei/rd3.js/ rather than https://github.com/yang-wei/rd3

[2016-05-11 02:02] joeshub opened #29 "Responsive container"
It would be nice to have a responsive container for charts

[2016-05-11 02:30] yang-wei commented on #29
can you elaborate more?

If you set the width to "100%" then they are responsive internally.

I think you mean external responsibility, am I correct?

[2016-05-11 03:02] joeshub commented on #29
Hi thanks for responding so quickly. The svg container width stats the same. It should change based on its parent otherwise you'll notice the element just shrinks and looks pixelated. Does that make sense?

[2016-05-13 03:39] jshthornton opened #30 "There is currently no way to change the tooltip styles"
The tooltip doesn't expose any props to change its styles nor a class.
I could make a PR to change this, what key would you want to use for styling the tooltip?

[2016-05-13 10:32] yang-wei commented on #29
ya you are correct but I am not confidence on how this will affect performance.

If you willing to give it a try I would like to support =)

[2016-05-13 10:34] yang-wei commented on #30
This is one of my todo on mind.

I would like to make tool tip a pure component where you can pass a component as props.

[code]

So that user can decide the style and class by themself. What do you think about this approach?

[2016-05-14 01:48] yang-wei commented on #26
updated =)

[2016-05-14 01:48] #26 closed, assigned to nobody

[2016-05-14 01:49] yang-wei commented on #18
I read through this and think that this will probably be a very good addition to candle stick chart.

However my current priority for this library is polish up documentation and cleaning up code.

If you are willing to take over then I will be happy to guide =)

[2016-05-14 01:49] yang-wei commented on #18
feel free to reopen if you would like to take over =)

[2016-05-14 01:49] #18 closed, assigned to nobody

[2016-05-14 05:09] devholic commented on #29
Before I use rd3, I used react-d3-components, and I saw same issue on [react-d3-components](https://github.com/codesuki/react-d3-components/issues/9)'s issue page, and I found a [solution](https://github.com/codesuki/react-d3-components/issues/9#issuecomment-136632734) for this issue.

So, I wrote a responsive wrapper for rd3, which will be automatically resized on window resize event.

[code]

[c

[2016-05-14 08:55] yang-wei commented on #29
Although I don't think we should add this into core library but it should be noted on documentation =)
I am open to this pr @devholic

[2016-05-14 17:02] devholic commented on #29
@yang-wei I made a pr(#31) for this issue 😄

[2016-05-15 00:24] yang-wei commented on #29
its up ! https://yang-wei.github.io/rd3/docs/new/responsiveCharts.html

[2016-05-15 00:24] #29 closed, assigned to nobody

[2016-05-16 02:15] jshthornton commented on #30
I think making it a pure component is definitely the right way of going about this.
It might be good to provide a default one in the repo for people to use who do not care about a custom one.

[2016-05-16 14:48] jrm2k6 opened #33 "Specify mouse over and mouse out handlers"
Hi,

Thanks for the hard work. Really easy to setup and use!
I was wondering if there is any plan on letting users specify custom mouse over and mouse out handlers?

If you are open to the idea I would be excited to try to contribute and add this feature if you think it is within scope of the project.

[2016-05-17 02:21] yang-wei commented on #33
oh totally, currently we are handling it internally but I would llike to expose it so that it can be more flexible. I am happy to guide if you are willing to take over

[2016-05-17 13:18] yang-wei commented on #33
I would like to expose

[code]

[2016-05-17 14:22] jrm2k6 commented on #33
Cool I can give it a shot in the next few days. Are you on discord or something?

[2016-05-24 11:44] shashank734 opened #34 "Unable to put animation on donout (Pie chart) chart and how to put a svg image in donut chart ?"
Hey Thanks for the Library, I have some questions How i can set animation in donuts (like tween arcs) and i want to put a svg image in donut. how i can do this ?

i wanna create something like this.

<img width="119" alt="screen shot 2016-05-24 at 5 13 39 pm" src="https://cloud.githubusercontent.com/assets/6039149/15502645/f5fa8d14-21d2-11e6-9fe6-306edeffb61f.png">

[2016-05-25 00:10] yang-wei commented on #34
i would just say its possible if you use the api, especially for the animation you want to achieve.

If you see how pie chart is created then you might got an idea on how to put another svg image inside.

[2016-05-25 00:10] #34 closed, assigned to nobody

[2016-05-26 09:15] shashank734 commented on #34
Hey can you little guide how i can put animation and svg ?

can i achieve this using API ?? or i have to modify your component ? One more thing any idea how i can make this like this ? That will be great if you can provide little guidance i m new to D3.

[2016-06-04 10:33] yang-wei commented on #30
todo:
- [ ] tooltip component as prop
- [ ] apply tooltip to other charts
- [ ] documentation

[2016-06-07 03:34] mojbenzcar opened #36 "enable click handlers for charts"

[2016-06-07 08:19] yang-wei commented on #36
Start implementing this last weekend but seems like it need more time.

WIP work

[2016-06-08 13:52] vseehausen commented on #33
Any progress? Would love to have this functionality right now :) Also thought about a personal implementation.

[2016-06-08 15:59] jrm2k6 commented on #33
No progress so far. I will try to come up with a solution by Saturday. Would it be ok with you?

[2016-06-09 10:06] enguerranws opened #37 "Adding labels and modifying existing ones"
Hi,

Thank you really much for this work, very useful and easy to use.

I'm currently working on PieChart, and I'm trying to add/modify some stuff to the basic one:
- a "total" label (which displays the absolute total of the values used for the chart), in the center of the circle
- adding a background or borders to the existing labels (which may need to add some `<line>` or `<rect>` element

Those

[2016-06-09 10:25] yang-wei commented on #37
sound good to use HOC to wrap this since it doesn't related to child

for this you need to modify this library by yourself. IMO it works best when you can pass the component from top. By this you can style your component as you like.

However all of those thing will be difficult if you need to take care of state (I am still finding my way to make this easier).

So to conclude this
- to add compone

[2016-06-12 11:50] #37 closed, assigned to nobody

[2016-06-15 21:04] gianlucasudano commented on #30
[code]

just a workaround but it works for me

is there a way  to hook / obtain the same behavior of  tooltip also for onclik event in the circle?

[2016-06-16 07:04] hnandarusdy opened #40 "Group Bar Chart"
Hi, is there a way to put have a group bar chart? such as
![image](https://cloud.githubusercontent.com/assets/14065403/16108101/575904be-33e4-11e6-8578-fd17d1f4c70c.png)

Before that, I'd really say thank you for you hard work. This is really easy to use.

[2016-06-16 07:12] yang-wei commented on #40
Nope. I know that this is also one of the popular usage of bar chart.

If you're willing to contribute I am happy to guide =)

[2016-06-21 16:18] ebertmi opened #42 "ToolTip fails in LineChart for Date objects"
I've some data series which look like this:

[code]

I forked the LineChart Fiddle to demonstrate the problem: https://jsfiddle.net/Le5vt2ot/

After some debugging I found the error in Line 81 in `DataSeries.js`:
`if (Object.prototype.toString.call(xAccessor(point)) === '[object Date]') {`

The point object as this place has only a _x_ and _y_ value, but no _date_ or _count_ as expected by the acc

[2016-06-22 13:08] ebertmi opened #43 "BarChart fails to render with empty series data"
When trying to do an initial render with no series, the BarChart fails when trying to calculate the domain.

Series Data:

[code]

[2016-06-22 13:23] yang-wei commented on #43
hmmm.... I see.... this should be an easy fix. Mind to try ?

[2016-06-22 13:24] yang-wei commented on #42
Thanks for reporting.

Looks like this is a bug =(

[2016-06-23 00:44] arasmussen opened #44 "Installing rd3 doesn't install d3?"
[code]

And then my webpack build failed.

After running npm `install --save d3` it worked as expected.

[2016-06-23 00:45] arasmussen commented on #44
I would expect installing `rd3` to install `d3`, or the instructions for `rd3` to be modified to mention that `d3` must be installed as well.

[2016-06-23 00:55] arasmussen opened #45 "Y-axis text cut off"
See screenshot:

![image](https://cloud.githubusercontent.com/assets/969540/16288597/56502864-38a2-11e6-8536-65d206b1dc72.png)

Looks like the problem is the `overflow: hidden` set on the `<svg />` with class `rd3-chart`.

[2016-06-23 03:27] ragnika opened #46 "xAxisTickCount not working for LineChart"
xAxisTickCount props is not included in the XAxis in LineChart.

It's a minor bug and I've made a pull request for it.

Anything else I should add to LineChart while I'm at it?

PS: first time contributing to OSS, not sure how to refer to the pull request in this issue.
EDIT: Nvm. just figured it out :)

[2016-06-23 08:29] arasmussen opened #47 "Dual y-axis"
I see https://github.com/esbullington/react-d3/issues/209 and am wondering if this still stands? It'd be awesome if the LineChart API offered a way to have two Y axes rather than needing to work with the primitives.

[2016-06-23 08:37] yang-wei commented on #44
yup !

https://github.com/yang-wei/rd3/blob/master/package.json#L60

basically it also doesn't install react and react-dom

Mind to submit a pr?

[2016-06-23 08:47] arasmussen commented on #44
@yang-wei What's the fix? To remove `peerDependencies` from `package.json`? If so I'd be happy to.

[2016-06-23 13:21] yang-wei commented on #44
no...

just add some note in README.md

[2016-06-23 13:22] yang-wei commented on #45
Yeah that's because it's hardcoded. I am working on custom axis.

[2016-06-23 13:23] yang-wei commented on #46
no problem. THanks for the pr. Will included it in next minor release.

[2016-06-23 13:23] #46 closed, assigned to nobody

[2016-06-23 13:24] yang-wei commented on #47
I am working on this in next major release.

https://github.com/yang-wei/rd3/pull/41

[2016-06-26 01:31] #44 closed, assigned to nobody

[2016-06-26 01:32] yang-wei commented on #45
If you need a quick fix you can consider using css

https://github.com/esbullington/react-d3/issues/329

[2016-06-30 21:18] involve-it opened #48 "yAxis is not rendered"
There is a bug, that can be seen even on the LineChart example: https://jsfiddle.net/YangWei/9g7zbk0h/?utm_source=website&utm_medium=embed&utm_campaign=9g7zbk0h

YAxis is not rendered. To be precise, it's path's d attribute is set incorrectly. I was able to fix it locally by changing
d = 'M' + sign \* props.outerTickSize + ',' + range[0] + 'H0V' + range[0] + 'H' + sign \* props.outerTickSize;
to
d

[2016-07-01 14:51] mistre83 opened #49 "Cannot assign to read only property 'data' of object '#<Object>'"
I'm trying to use `LineChart` with Dates and i've just copied [this](https://yang-wei.github.io/rd3/docs/new/date.html) example but i get the error on issue title.

This is a jsfiddle example: https://jsfiddle.net/cnomx3w1/

[2016-07-02 01:07] yang-wei commented on #48
dang ! You just fixed a very important bug !

Will merge it immediately if you are up to it

[2016-07-02 01:10] yang-wei commented on #49
Unlike [AreaChart](https://github.com/yang-wei/rd3/blob/master/src/areachart/AreaChart.jsx#L70), we do not process date object in LineChart (which is not consistent)

Would you like to give it a try ?

[2016-07-03 03:00] involve-it commented on #48
Sounds great! By the way, very good library, thank you!
Do you want me to fork-make PR or you'll make change yourself?

[2016-07-03 03:04] yang-wei commented on #48
Just send me a pr if you are free to do it.

I want to make sure everyone can contribute =)

[2016-07-03 06:57] involve-it commented on #48
Fair enough!

Here you go: https://github.com/yang-wei/rd3/pull/50

[2016-07-03 14:22] yang-wei commented on #48
Here it's !
https://www.npmjs.com/package/rd3

[2016-07-03 14:22] #48 closed, assigned to nobody

[2016-07-04 09:25] ekmartin commented on #2
Would be nice if you could import Legend and use it directly as well, like with https://github.com/react-d3/react-d3-core

So that you could add legend to for example a PieChart.

[2016-07-04 10:20] mistre83 commented on #49
Yes, I can evaluate to use AreaChart instead of LineChart. At the end, it have all information i need.

Just to be sure, i have a set of measurements and this can be registered by hour, so i will have to use "hour" as tick interval on the X axis. For the Y axis, i dont have a fixed "cap".

For example, one chart can have a cap of 10k, and another can have a cap to 1k. I will use this as "generic"

[2016-07-05 00:42] dmk23 opened #51 "Legend.js Uncaught TypeError: Cannot read property 'category20c' of undefined"
I'm prototyping addition of rd3 to my existing React app (ES6, webpack, d3 v3.5.17, rd3 v0.6.5)

I grabbed exact example code from https://yang-wei.github.io/rd3/docs/new/charts/lineChart.html and copied the `<LineChart ... />` into an existing modal dialog.

Opening the page resulted in the above error in the console, traced to here:

[code]

Any ideas on what is going wrong here? I'm a complete

[2016-07-05 01:55] dmk23 commented on #51
Quick update - the problem went away when I swapped out `rd3` for basic `react-d3`. I also checked the runtime and looks like I'm running v4.1.0 of D3 even though `npm list` claims I have 3.5.17

[2016-07-05 06:16] yang-wei commented on #51
Your version looks good to me. This is what I use in development too.

I think you forgot to paste the error?

[2016-07-05 06:18] dmk23 commented on #51
The error name is in the title... The pasted code is where the debugger pointed it to...

[2016-07-05 07:17] jonase opened #52 "Warnings about unknown props with React 15.2.0"
With react version 15.2.0 I get warnings such as

[code]

with the BarChart (probably with other chart types as well). I believe the reason is that all props are delegated to the `<rect>` tag [for example here](https://github.com/yang-wei/rd3/blob/master/src/barchart/Bar.jsx#L29).

[2016-07-05 14:48] considerate opened #53 "Support Logarithmic scale of axes."
There is a previous commit 1e620263df9a5155fd1f6f1dcd40cc8c9259d0cc implementing custom
xScale and yScale for LineChart but this was reverted b39a48a1897061a90d2f5f10f63ec4984c198cfb just a couple of days later. Why is this?

I ask because I would like to support a logarithmic scaling for the y-axis instead of the default linear scaling.

[2016-07-06 13:13] ebertmi commented on #51
This is caused by D3 >4.0
See https://github.com/d3/d3/blob/master/CHANGES.md#ordinal-scales

[2016-07-07 06:03] dmk23 commented on #51
So is `rd3` going to get upgraded too?

I thought it is supposed to be an improved fork of the regular `react-d3`

[2016-07-07 06:53] dmk23 commented on #51
I re-did the test while enforcing D3 v3.5.17 and now rd3 worked too

There is a different problem though. When a LineChart is open within a `<Modal>` from `react-bootstrap`, the tooltip position is way off to right. Perhaps there needs to be some adjustment as to how their position is calculated (or it should be somehow configurable)

[2016-07-07 07:56] UyQTran opened #54 "Custom colors?"
Is there any way to customize the colors of the charts?

[2016-07-07 08:06] UyQTran commented on #54
Found out, sorry.

[2016-07-07 08:06] #54 closed, assigned to nobody

[2016-07-07 13:39] yang-wei commented on #52
hmmm... never know 15.2.0 is out...

Thanks for the issue

[2016-07-07 16:45] robin-anil opened #55 "Please update the peer dep to d3 ^4.0.0"

[2016-07-08 08:10] skrobek commented on #55
+1

[2016-07-08 08:13] ebertmi commented on #55
This requires a lot of code changes as d3 v4 has a lot of breaking changes.

[2016-07-08 08:16] skrobek commented on #55
I see, so would be great to update docs because `npm install d3` is causing an error with versions.

[2016-07-08 09:07] UyQTran opened #56 "Graph point dots not the same color as given in 'colors' function"
<img src="https://i.gyazo.com/791a47b068c9772ce1e32ee37101f2ce.png">

The dots on my graph isn't the same color as the color given in the 'colors' function in the LineChart component. They seem to initially be random colors then red if I hover over them.

[2016-07-09 14:38] yang-wei commented on #55
doc update

will keep this issue open until 4.0 is support

[2016-07-09 14:40] yang-wei commented on #53
I can remember why this is reverted but I will merge this if you submit a pr

[2016-07-09 14:41] yang-wei commented on #56
can you submit a fiddle ?
will be helpful to look through the code

[2016-07-11 08:29] skrobek commented on #55
Thanks!

[2016-07-12 17:45] adrianmcli opened #57 "Plotting a threshold line on top of a bar chart"
Is it possible to use this library to make a chart similar to this:

![bar chart with threshold line](http://www.nature.com/nclimate/journal/v1/n8/images/nclimate1265-f1.jpg)

Additionally, can I colour the bars differently depending on whether or not they are above the threshold line?

[2016-07-13 00:38] yang-wei commented on #57
right now it's not possible.

If you need a complex chart like this, I recommend you to build it yourself while referring to our library

[2016-07-13 00:38] #57 closed, assigned to nobody

[2016-07-13 00:38] yang-wei commented on #57
btw cool graph

[2016-07-13 00:44] adrianmcli commented on #57
Thanks! I'll try it and maybe contribute if I end up make anything useful.

[2016-07-13 12:59] ekmartin opened #58 "XAxis stroke for BarCharts"
At the moment it isn't possible (as far as I can see) to style the XAxis' `stroke` prop, as it isn't passed down.

It also looks like the bars themselves could need a slight move out from the axis as well, as it looks kind of cramped (overlapped) with strokes enabled:

![image](https://cloud.githubusercontent.com/assets/3536982/16804077/3d85e616-490a-11e6-8f6a-2ddd0b002373.png)

[2016-07-14 17:37] Rinosh opened #59 "Warning on Bar Chart"
_Warning: Unknown props `hoverAnimation`, `dataPoint`, `handleMouseOver`, `handleMouseLeave` on <rect> tag. Remove these props from the element. For details, see https://fb.me/react-unknown_

I implemented all charts according to their respective official examples and this is the only one that throws an alert.

BTW, I am displaying charts over a [react-grid-layout](https://github.com/STRML/react-g

[2016-07-14 18:11] ebertmi commented on #59
The warning comes from React 15.1+. In previous versions unknown props have been just ignored, now they should not be set on the element as rd3 currently does.

So in one of the next versions of rd3, those will disappear

[2016-07-20 09:50] j-nolan commented on #59
Duplicate of #52

[2016-07-21 12:33] jdelafon opened #60 "LineChart accessor: Cannot read property 'x' of undefined(…)"
Passing `data = {lineData}`, with `lineData = []`, throws

[code]

apparently because the default accessor `(d) => d.x` does not find any `d` to act upon, so it takes `undefined` instead. The following accessors solve it, but it is ugly from a user perspective:

[code]

Edit: similar to #43, and probably all other charts.

[2016-07-21 12:35] jdelafon opened #61 "LineChart domain error: <path> attribute d: Expected number, "MZ"."
When the `domain` prop is given incorrectly to a `LineChart` (I just cannot figure it out), it throws

[code]

which is not very helpful. A better error message would be welcome.

[2016-07-21 12:52] jdelafon opened #62 "BarChart: <rect> attribute width: Expected length, "NaN"."
When not specifying `viewBoxObject` in a `BarChart`, it throws

[code]

Same error if the accessors are wrong and no x nor y can be accessed.

The error message should be improved.

[2016-07-21 12:54] jdelafon opened #63 "BarChart unknown props warning"
When my bar plot shows, I get this in the console:

[code]

[2016-07-21 12:56] jdelafon opened #64 "BarChart invalid width warning"
There is a check on the type of the `width` prop:

[code]

that prevents it from being, say, '100%'. Visually it works, though. Probably check `height` as well.

[2016-07-21 12:57] jdelafon commented on #63
Duplicate of #52

[2016-07-21 12:57] #63 closed, assigned to nobody

[2016-07-21 12:58] yang-wei commented on #61
Can  you submit a js fiddle ?

[2016-07-21 13:00] yang-wei commented on #60
hmmm or we can try skipping if no data is given

[2016-07-21 13:05] jdelafon commented on #60
Definitely, because in the case when data is not empty, the condition in the accessors  would be evaluated for every data point.

[2016-07-21 13:18] jdelafon opened #65 "LineChart incorrect accessors throws: <path> attribute d: Expected number, "MNaN,NaNLNaN,NaN"."
I get this when the accessors are not correct, e.g. when data.values is given as `{key: 1, val: 3}` instead of `{x: 1, y: 3}` with the default accessors:

[code]

The error message could be improved (it took me about 15 min to figure it out).

[2016-07-21 13:22] jdelafon commented on #61
I can't reproduce, sorry :( If you can tell me roughly what it means, I can try to find it again.

[2016-07-21 22:20] easadler opened #66 "LineChart fails using xAccessor to parse dates"
An error is thrown by d3 when using the date parsing xAccessor in the documentation. Here it is:

[code]

On examination, it appears thy my xAccessor is being called twice, once when calling **utils.flattenData()** in LineChart.jsx and a second time in DataSeries.jsx when defining regions. _see below_
#### DataSeries.jsx

[code]

D3 returns an error when you call xAccessor the second time because

[2016-07-21 23:51] jdelafon opened #67 "Allow to hide axes"
I couldn't find in the documentation a way to hide the axes from a plot, like `xAxis={false}`.

[2016-07-22 00:41] brookiel commented on #40
Pull #68 should fix this.

[2016-07-22 10:43] yang-wei commented on #61
In SVG `<path>` element, you can set the attribute `d` to describe the path.

https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/d

In rd3, we provide the attribute `d` by determining your x and y value. Like here https://github.com/yang-wei/rd3/blob/master/src/areachart/DataSeries.jsx#L25

So probably there are some invalid x and y value in your data ?

[2016-07-22 10:44] yang-wei commented on #65
probably duplicated of https://github.com/yang-wei/rd3/issues/61

[2016-07-22 10:46] yang-wei commented on #66
Thanks for the clear issue !

I am happy with your imprementation. If you send me a pr I will merge it.
Just one thing, since we are using jsx so it would be great if you can use jsx instead of `React.createElement`

[2016-07-22 10:49] yang-wei commented on #67
nope !
We do not support this kind of feature

[2016-07-22 10:49] #67 closed, assigned to nobody

[2016-07-22 10:50] yang-wei commented on #67
(Not planning to support this so far, but you can see how we implemented our chart and create your custom chart by excluding axis)

[2016-07-22 12:02] jdelafon commented on #65
I'd rather keep this one open to fix the error message and close #61 instead, since the former has a concrete example and the latter I couldn't reproduce.

[2016-07-22 13:37] #61 closed, assigned to nobody

[2016-07-22 18:22] easadler commented on #66
@yang-wei I created the pr. Make sure to read the comment before you merge. I'm happy to make revisions before you merge.

[2016-07-24 00:41] #40 closed, assigned to nobody

[2016-07-24 00:47] yang-wei commented on #66
hmm... can you show me what is your `data` prop ?
I might misunderstood your problem

[2016-07-24 00:54] yang-wei commented on #65
https://github.com/yang-wei/rd3/blob/master/src/linechart/DataSeries.jsx#L25

From the default accesor in LineChart, you can see we expect your data to have `x` and `y` as the key

[code]

If you have different value, the you have to use your own accessor:

[code]

This should solve your problem.

[2016-07-24 00:54] #65 closed, assigned to nobody

[2016-07-24 01:00] yang-wei commented on #62
probably related to https://github.com/yang-wei/rd3/issues/65 ?

Can you submit a jsfiddle
This shouldn't be a bug

[2016-07-24 01:24] yang-wei commented on #56
This might be the wrong usage of color accessor.
Please refer to doc or give me more information for help

[2016-07-24 01:24] #56 closed, assigned to nobody

[2016-07-24 01:38] yang-wei commented on #53
please reopen this for discussion if you are interested =)

[2016-07-24 01:38] #53 closed, assigned to nobody

[2016-07-24 01:39] yang-wei commented on #51
Let's move this to a new issue
Tooltip will be made totally configurable in the next major release

[2016-07-24 01:39] #51 closed, assigned to nobody

[2016-07-24 01:42] #64 closed, assigned to nobody

[2016-07-24 01:45] yang-wei commented on #60
solve in latest release. Please reopen if it doesn't

[2016-07-24 01:45] #60 closed, assigned to nobody

[2016-07-24 01:45] yang-wei commented on #58
Solved in latest release

For other bug please file another issue =)
Thanks

[2016-07-24 01:46] #58 closed, assigned to nobody

[2016-07-24 01:46] yang-wei commented on #43
Fixed in latest release

[2016-07-24 01:46] #43 closed, assigned to nobody

[2016-07-24 02:37] dmk23 commented on #42
any update / ETA on the fix?

[2016-07-24 02:40] dmk23 commented on #30
I am using tooltipFormat workaround as well. A significant limitation right now though is that I cannot access data for ALL series in the tooltip. Imagine we are plotting ~5 different Y metrics. When I hover over a datapoint I'd like to be able to display them all. The tooltip API should provide full access to all data...

[2016-07-24 03:30] jdelafon commented on #65
The problem is not the wrong accessors, but that when you use a wrong accessor, with such an error message you can search for its origin for an hour. The error message should be improved.

[2016-07-24 08:26] ekmartin commented on #58
Nice, good job!

[2016-07-24 21:35] machard commented on #56
This actually happens when the graph is live updated
this line in DataSeries fixes the problem:
[code]

[2016-07-24 21:41] easadler commented on #66
My data looks like this:

[2016-07-24 21:47] easadler commented on #66
I followed the documentation for a multiple line and for what to do with dates.

[code]

xAccessor was being called twice, which caused an error when d3 tried to parse an actual date using string methods. It works fine with the default xAccessor because it is just returning the value.  The error only happens when drawing the circles and not for the actual lines.

[2016-07-25 09:32] jdelafon commented on #62
Now I can't reproduce it either... I'll reopen with a fiddle when I encounter it again.

[2016-07-25 09:32] #62 closed, assigned to nobody

[2016-07-25 12:34] yang-wei commented on #66
interesting

can you submit a jsfiddle which reproduce this error ?

[2016-07-25 15:22] easadler commented on #66
It actually only breaks when using d3.parser(). Here is a jsfiddle:

[https://jsfiddle.net/easadler/bh9n7n8q/](https://jsfiddle.net/easadler/bh9n7n8q/)

[2016-07-26 08:24] jdelafon opened #72 "Axes props and their docs"
The docs should indicate that props are passed as

[code]

Then you can link to the docs for the cartesian chart mixin and Axes, and remove all stuff concerning them that is repeated for every chart - incompletely and soon inconsistently, because it needs to be maintained at many places.

Proposal: `cartesianChartProps` and `axisProps` would actually better be passed as a single object prop, e.g.

[2016-07-29 13:05] dalhorinek commented on #30
I extened in my fork the Tooltip (at least for LineChart) to accept tooltipStyles and tooltipContainerStyles so you can customize the styles (as these are hardcoded in the Tooltip component).

If you're interested I can PR it.

[2016-07-30 01:05] yang-wei commented on #30
Thanks for that but in the next major release, toolTip will be excluded and you can use hoc to style your own tooltip

[2016-07-31 01:32] dmk23 commented on #30
Is there an ETA for that next major release?

[2016-07-31 05:34] yang-wei commented on #30
@dmk23 I can't give you any promise about it yet but you can see my WIP work on this pr https://github.com/yang-wei/rd3/pull/41
This library needs a almost rewrite work to be done if we are moving to latest d3.

Basically the ideal api will be something like:

[code]

rd3 will no more handle any state ( we will let you handle you state )
So not only tool tip, you can make your own wrapper for anyt

[2016-07-31 07:19] dmk23 commented on #30
Looks good, but I'll need to look into details a bit later.

My own wrappers for everything (especially legends / labeles) is another thing I wanted to post an issue / request about. E.g. we have lots of data series where X is some "object_id" that should be really represented / displayed via some discrete labels with the need for special and possibly changeable / configurable formatting. If you c

[2016-07-31 09:54] yang-wei commented on #30
sounds like brushing.
I never implemented it into our library but this can be considerable.
And I believe in the approach this library is going, it's possible =)

[2016-08-01 12:48] terebentina opened #73 "Unexpected value NaN parsing cy attribute"
Using values other than `x` and `y` on a `LineChart` with `xAccessor`/`yAccessor` yields this error: `Unexpected value NaN parsing cy attribute` (also with cx).
Fiddle with the default `LineChart` example with pairs changed to a/b instead of x/y and the accessor props added: https://jsfiddle.net/terebentina/9g7zbk0h/21/

[2016-08-03 14:27] fawazlab commented on #42
I believe the open pull request [#69 ](https://github.com/yang-wei/rd3/pull/69) will fix this issue.

[2016-08-03 19:33] nurpax opened #74 "How to specify line chart minimum Y value?"
How can I make a LineChart not use the default "auto" mode of choosing the chart min and max Y values from the input data, but rather override the minimum chart Y axis value to say zero?

Presumably this can be set somehow with some of these props: https://yang-wei.github.io/rd3/docs/new/cartesianChartPropsMixin.html - but how?

Maybe add an example into the rd3 docs on how to do this?

[2016-08-03 19:54] nurpax commented on #74
Found it, it _is_ in the LineChart js example but not listed in LineChart props documentation.

This seems to do the trick:

[code]

[2016-08-05 14:41] #74 closed, assigned to nobody

[2016-08-05 14:41] yang-wei commented on #74
Good one. Just send me a pull request and I will merge it

[2016-08-05 19:05] nurpax commented on #74
I'll take a look at some point.  Also the "domain" prop should be added on the props list in the LineChart docs: https://yang-wei.github.io/rd3/docs/new/charts/lineChart.html

[2016-08-07 06:30] yang-wei opened #75 "initial feedback for new V1 API"
I had been talking about major release for past few month and I am working on it.
I had been received a lot of feature request or to support additional prop to let user do something and our library exploded and became difficult to maintain.

To sum up what changes are coming:
- axis will be break up as another component and let you decide how to use it
  - double y-axis will be possible now !
  -

[2016-08-07 08:51] yang-wei commented on #73
with the latest release (0.7.1), this seems working in my local development.

Please reopen this issue if it doesnt solve yours.

(Really sorry for the late reply)

[2016-08-07 08:51] #73 closed, assigned to nobody

[2016-08-07 08:51] #66 closed, assigned to nobody

[2016-08-07 10:34] #75 closed, assigned to nobody

[2016-08-07 18:23] nurpax commented on #74
Here's a PR for adding the domain property docs: https://github.com/yang-wei/rd3/pull/76

Not sure what's the best way for me to create jsfiddle examples in the wikibook.

[2016-08-08 12:48] yang-wei commented on #74
merged

[2016-08-29 04:44] jmerriweather opened #78 "How do i change the legend position?"
I can see that there is a legendPosition on LegendChart, however it doesn't appear to do anything.

Is there a way i can set the position of the legend?

[2016-08-29 15:02] psdao1102 opened #79 "Request for Bullet Chart"
Hello,

Im requesting that a Bullet Chart be added to this library. I think it would be a pretty quick and easy addition yet add a good bit of value.

Thank you.

[2016-08-30 02:14] yang-wei commented on #79
Hmm that's is a good suggestion but I don't think I have time to manage this library anymore.

[2016-08-30 02:17] yang-wei commented on #78
unfortunately not directly. However you can try to use css =)

[2016-08-30 02:25] jmerriweather commented on #78
no worries, thanks for the response :)

[2016-08-30 02:26] #78 closed, assigned to nobody

[2016-08-31 00:35] #79 closed, assigned to nobody

[2016-09-02 17:40] ebertmi commented on #55
Maybe look at https://github.com/uber/react-vis

[2016-09-02 18:54] robin-anil commented on #55
Just an update: we ripped out the library and wrote the whole thing in d3 with react-fauxdom
https://github.com/Olical/react-faux-dom
Gave us a lot more control and its closer to d3.

[2016-09-03 13:52] SubhuMS opened #80 "How to add labels for the plots in Line chart"
Hi, is there any option to add label for all data points in LineChart?

[2016-09-15 17:49] fschr commented on #59
Has this been resolved?

[2016-09-16 00:06] yang-wei commented on #59
no
send me a pr and I would like to merge =) @gragas

[2016-09-19 00:01] easadler commented on #33
@jrm2k6 Did you ever have time to come up with a solution?

[2016-09-19 18:06] easadler opened #84 "findDOMNode(this) returns null in _animateCircle()"
In VoroniCircleContainer.jsx in the linechart folder, findDOMNode is returning null, which is messing up the animation.

[code]

I haven't been able to diagnose the issue, but it appears to be passed to a child component, which could be confusing react for some reason or another. Any idea what is wrong?

I don't have a problem with my npm installed rd3, but am having it with the cloned version fro

[2016-09-20 02:57] yang-wei commented on #84
Oh? This is weird. https://github.com/yang-wei/rd3/tree/master/src/linechart do not has any new commit since the last release.

Can you show me the step you reproduce this bug ?

[2016-09-20 02:58] yang-wei commented on #80
What do you mean by label ?

For all data points or series ? If its series label then I suppose we have something for that

[2016-09-21 02:47] yang-wei opened #87 "rd3 version in jsfiddle"
- [ ] always use the latest version
- [ ] NPMCDN -> UNPKG

[2016-09-22 19:42] jrm2k6 commented on #33
Nope sadly. Wish I had more time to dedicate to it.

[2016-09-26 14:59] hamiltondanielb opened #88 "Maintain"
I would be willing to maintain, I just forked to create a Line Bar combined chart.

[2016-09-27 06:00] yang-wei commented on #88
Can I see it ?

[2016-09-27 16:40] hamiltondanielb commented on #88
ya, i will push something up soon, working through my fork because i wanted d3 v4

[2016-09-28 11:35] aferrandi opened #89 "window.React"
I'm upgrading a project to version 15.1 of react and therefore I need to use the rd3 ibrary instead of esbullington/react-d3.
The project uses requirejs to  manage the dependencies and the problem I have is that react-d3.js uses React, ReactDOM and d3 as window.React, window.ReactDOM and window.d3 instead of of calling the require function.
I understand this is a general way to use React, but in m

[2016-09-28 22:08] yang-wei commented on #89
We are using peer dependencies for those library so the thing you need to do is include those script before rd3 load.

https://github.com/yang-wei/rd3/blob/master/package.json#L60

You can see how the example in fiddle works.

![image](https://cloud.githubusercontent.com/assets/5494874/18934211/81b079f0-8613-11e6-963d-9c99e2b052f9.png)

https://jsfiddle.net/YangWei/8t16sp9g/1/

[2016-09-29 22:31] #89 closed, assigned to nobody

[2016-10-02 12:58] themre commented on #42
My override works:
`tooltipFormat={d => { return String(moment(d.xValue).format("YYYY-MM-DD")) }}`

[2016-10-03 04:48] Place1 commented on #45
any update on this feature?

[2016-10-03 13:59] yang-wei commented on #45
No. Interested in fixing this ? I can guide you

[2016-10-03 21:02] hamiltondanielb commented on #88
Sorry for delay, i am out of the country without great internet, and my honeymoon, will get it up within shortly

[2016-10-03 21:41] Place1 commented on #45
I'm on a tight deadline atm so I can't unfortunately. Maybe give an outline of your idea and I or someone else could take it up when they have time?

[2016-10-17 02:07] barca commented on #88
@hamiltondanielb i'd love to check out your fork when you are ready

[2016-10-22 21:31] 0xjjpa commented on #88
@hamiltondanielb same here, let me know if you need help or want to maintain/consolidate the fork.

[2016-10-25 19:34] solomon-gumball opened #91 "Exporting common components."
It seems as though the npm build does not export the common components like axes and tooltips.  This would be a nice feature for building custom charts and would probably help others develop more visualizations!

[2016-10-26 01:24] yang-wei commented on #91
Couldn't agree more. Mind to send me a pr ?

[2016-10-26 20:46] solomon-gumball commented on #91
@yang-wei sure thing.  I'll have time to submit something tomorrow.

[2016-10-27 22:07] solomon-gumball commented on #91
https://github.com/yang-wei/rd3/pull/92

[2016-11-09 21:42] nivedhithaVenkatachalam commented on #36
Any update on the click handlers for charts?

[2016-11-10 17:00] tonthon opened #93 "svg doesn't fit its parent in the LegendChart on firefox"
When using a Barchart with a legend, under Firefox, the chart is clipped.

Why :
The chart's svg tag has a height css property set to 100%.
It's parent is a div with a display property set to table-cell.
Under Firefox, to allow the svg tag to fit its parent, a height should be set on the direct parent.

Working fix :
In https://github.com/yang-wei/rd3/blob/master/src/common/charts/LegendChart.jsx#

[2016-11-11 12:40] #91 closed, assigned to nobody

[2016-11-11 12:40] yang-wei commented on #93
send me a pull request =)

[2016-11-14 21:38] nivedhithaVenkatachalam opened #96 "Unable to use strings as x value in Line Chart"
I am unable to use string values in x axis. I get the error:
Error: <path> attribute: Expected number, "MNaN,NaNLNaN,NaNL…".

I am able to use string values for x axis in Bar chart though.

[2016-11-17 04:29] #93 closed, assigned to nobody

[2016-11-17 14:11] goooseman commented on #67
just use

[code]

[2016-12-05 19:25] madnight commented on #88
My approach would be to fix 634 code climate issues and rewrite all < es6 code to es6.
https://github.com/madnight/rd3

[2016-12-07 20:59] arasmussen opened #100 "Inconsistent strokeWidth PropTypes"
If I pass in lineData strokeWidth of type number, I get the following warning:

[code]

However, if I pass in strokeWidth of type string, I get the following warnings:

[code]

This is using the latest react version (15.4.1).

[2016-12-07 21:29] arasmussen commented on #100
Derp

[2016-12-07 21:29] #100 closed, assigned to nobody

[2016-12-08 14:27] Kielan commented on #88
ok I have vested interest in this project as well. @hamiltondanielb let's see what changes you have made on your fork. I will contribute.

[2016-12-14 01:33] noahehall commented on #88
im interested as well

[2016-12-16 00:58] AndrewHenderson commented on #88
@yang-wei I am interested in maintaining this project as well. If for reasons other than lack of time or personal, what is your reason for no longer maintaining? Are there things to be aware of as maintainer that make this project particularly challenging?

@hamiltondanielb D3v4 compatability would be a nice enhancement.

Has anyone here taken a look at https://github.com/react-d3-library/react-d3

[2016-12-16 04:07] yang-wei commented on #88
@AndrewHenderson Main reason for not maintaining is I am not using this library(or React) anymore in work. IMO an active user will be the most suitable candidate for maintainer

[2016-12-16 19:51] AndrewHenderson commented on #88
@yang-wei OK. I'm going to do some research through this codebase as well as react-d3-library and plan to submit a PR to move this library forward. I figure if you like the work, we can discuss taking over as maintainer. How does that work for you?

In the meantime, I will request the same guidance I requested from react-d3-library. See: [issue#52](https://github.com/react-d3-library/react-d3-libr

[2017-01-03 07:22] windsome commented on #88
what's the difference to the react-d3 repository? anyone can show me the improvement to the react-d3?

[2017-01-03 08:24] windsome commented on #88
这个rd3是react-d3的活跃库吗？原来的react-d3已经不再更新了？现在这个也不准备更新了？闹哪样啊？

[2017-01-03 11:28] windsome opened #101 "charts are overlapped."
I put all of the examples in one page, and find them overlapped. (look at the below screenshot, bar chart overlap line chart.) is this a bug?
![overlapped](https://cloud.githubusercontent.com/assets/226573/21606424/6710eb0c-d1ea-11e6-8b50-b513bf0fdfab.png)
[code]

[2017-01-03 22:50] AndrewHenderson commented on #88
@windsome I don't know at what point in time this repo forked react-d3, but I believe it was done out of the need for a maintainer. Thus, the project migrated to this repo.

[2017-01-04 04:08] yang-wei commented on #88
@windsome @AndrewHenderson I do not plan to maintain this library anymore as I am not using it anymore but I will merge pull request from community if there is.

Meanwhile I am willing to transfer it to people who would like to maintain =)

[2017-01-04 04:10] yang-wei commented on #101
yes it is. Probably there are some not good css properties set between those two graph. Should be an easy fix. Do you want to give it a try ?

[2017-01-04 07:08] windsome commented on #88
@AndrewHenderson I think we'd better do a search, collect informations about charts library base on react, and do a comparison, then make a choice.
1, reactjs/react-charts, base on canvas
2, highcharts, react-hightcharts
3, react-faux-dom
4, react-d3, d3-react, rd3, react-d3-basic, react-d3-map. some are not active.

compare in terms of code readable, effective ...

[2017-01-04 22:02] AndrewHenderson commented on #88
@windsome I'm second guessing the benefit of a project such as this one.

What I liked about [react-d3-library](https://github.com/react-d3-library/react-d3-library) is how it affords one the ability to use existing D3 code in React components and the DOM differ.

After spending some time using it though, I realized that I was still doing all the D3 DOM interaction which goes against React's decla

[2017-01-09 01:23] noahehall commented on #88
I actually needed this for my udacity capstone project, so I started one here that uses d3 v4
https://github.com/noahehall/reactjs-d3-universal

[2017-01-13 12:09] vilvadot commented on #88
@windsome Any conclusions to that?

We are also needing a solution of D3 + React at work. And rather than reiventing the wheel we would very happily contribute to an existing project. It seems there are a ton of implementations of D3 + React to choose from, not sure wich one is the best though.

[2017-01-13 13:00] windsome commented on #88
@albertovilva not get a conclusion. since currently so busy for a project, these stuff things are delayed.

[2017-01-18 14:48] ClinicalCharles commented on #88
Hi,

I've done a bit of work modifying this library and also working with React Native SVG creation (using both ART and SVG).

I'd be interested in a group chat on Slack or similar to discuss the best use of D3 and React. AS mentioned above the D3 Imperative vs React Declarative is a bit of a tough one.

My current feeling is that D3 should be leveraged for it's calculations only and that React sh

[2017-02-01 04:13] thetwosents commented on #88
We're about to implement on next project. Interested in looking into building a small roadmap with a few people if anyone is interested.

[2017-02-01 19:30] Kielan commented on #88
I have looked into this a little bit and find the approach taken in this library to be better. Curious to heard your thoughts, I'm going to re-implement some d3 on a recent project using this library later this week

https://github.com/react-d3-library/react-d3-library

[2017-02-01 21:32] madnight commented on #88
i think finding a new maintainer for this project took a little bit to long, so understandably new projects arise and finding a maintainer for this one will become unimportant

[2017-02-14 17:50] ghost opened #102 "Child nodes attaching to chart or graph"
I hacked the core to extend for children, felt dirty, and decided I'd just make an issue. Just with the line graph at the moment, I feel like it would be nice to be able to:
[code]
So it may be part of the graph's bounding box, and can be targeted with CSS.

[2017-02-14 20:31] ghost opened #103 "Legend Text Style"
No Class accessors, and hand written styles make pairing colors with legend text difficult and detached.

Curious if we could extend the color of the legend 'dot' to the color of the text as well with a flag, or just a property over-ride, color is already available as a property to the line and is processed in the legend, should not be too difficult to make mutable.

[2017-03-05 23:14] nshah99 opened #104 "Handling missing values"
Hi,
I went through the docs but did not find a prop I can pass into LineChart which allows us to control whether to connect or not to connect missing values. The definition of missing value is a series with an x-value but a null y-value. This is similar to connectNulls option on rechart - http://recharts.org/#/en-US/examples/LineChartConnectNulls . Is there something I am missing in docs ?

[2017-03-06 00:28] yang-wei commented on #104
No you are not missing anything.
We currently do not support the option to handle missing vaules =(

[2017-03-06 00:28] yang-wei commented on #104
please send us a pull request if you are interested in implementing it

[2017-04-01 20:48] LeoAref commented on #96
@nivedhithaVenkatachalam, I think the lib expects a number/date, so it can use it
And then you can format your x axis using `xAxisFormatter`

[2017-04-21 07:24] tgoldenberg opened #105 "`Props.colors.domain` prevents custom colors"
`<AreaChart />` expects `colors` as a prop. The default is from d3, and the type is `function`. However, this line makes it difficult to add custom colors for this component:

[code]
Could there be a check / guard so that custom colors can be used on this component? Thank you.

[2017-04-24 17:11] ghost opened #106 "Transition to `import PropTypes from 'prop-types'` from `React.PropTypes`"
React v16 is deprecating using `React.PropTypes`.

I'd make a PR, but I feel like it might be easier for you to just do it so I don't have to point a repo at my github fork for a little while and then move it back when I notice it's been merged.

Cheers!

[2017-05-02 14:34] yang-wei commented on #106
@flodonsky I dont have time to do this but I will merge your pr if you send me one

[2017-05-02 14:49] ghost commented on #106
@yang-wei I was afraid you were going to say that haha I feel like everyone would love me for it so I may just do it, but really who has the time!?

[2017-05-02 14:51] ghost commented on #106
Oh no, this was also of the React.createClass era of ReactJS as well, this would be quite the undertaking. I'll table this until it becomes a need to do. I've been looking at google charts and may just write a simple wrapper for that at this point

[2017-06-02 14:25] brantphoto commented on #106
I've got a working fix for this that I plan to open a pull request perhaps today. @yang-wei the basics of my changes will be switch out the 'prop-types' and swapping react.createClass for the package 'create-react-class'. This is as low impact as it gets in terms of coding I will certainly need your review that I didn't miss anything. Thanks.

[2017-06-02 16:14] brantphoto commented on #106
PR is in yang-wei/rd3/pull/108

[2017-06-02 19:07] brantphoto commented on #88
I would potentially be interested in maintaining this. I just put in a PR that helps with the PropTypes and CreateClass deprecation warnings: #108

Question is, is anyone still using this at the moment? Speak up if so. Thanks!

[2017-07-11 11:34] #106 closed, assigned to nobody

[2017-09-01 19:13] DeliSauce commented on #88
I'm currently implementing this module. I had to fork it in order to add some more functionality -- I've added props for axis label color and stroke width.

[2017-09-04 20:52] Ch0ronomato opened #110 "Data point dots in line graph can be the wrong color."
I've building something using rd3, and have a line graph that has two data sets loaded asynchronously. One data set is guaranteed to be "downloaded" before the other. I unfortunately can't share all the code, but I can show a picture.

I am trying to mimic this behavior and either update this issue or submit a PR.

One image has a single line, the next has the entire two data sets loaded. You can

[2017-10-13 18:53] DeliSauce commented on #110
I'm having the same issue. Did you find a workaround?

[2017-10-13 23:34] Ch0ronomato commented on #110
@DeliSauce the workaround I used was to set the state with all the data at one time.

[2017-12-10 02:12] yang-wei opened #112 "update handlebars"
- also fix security warning of handlebars package under < 4.0.0